@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://code.getmdl.io/1.3.0/material.indigo-pink.min.css');

body{
    background-image: url('../default_bkg.jpg');
}

#header a{
    text-decoration: none;
    color: black;
    padding: 0px 50px;
    display: block;
    text-align: center;
}

#go-to-main-menu form{
    display: block;
    padding: 10px 30px;
}

#backgrounds h2{
    background-color: white;
    border-radius: 5px;
}

h4{
    display: block;
    text-align: center;
}

#shop #items{
    background-color: white;
    display: inline-block;
    margin-left: 15%;
    border-radius: 1em;
    width: 70%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#items .item-class{
    vertical-align: top;
    display: inline-block;
    padding: 30px;
}

.demo-card-square.mdl-card {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.backgrounds h2{
    color: black;
    background-color: white;
}
