{% extends 'base_layout.html' %}

{% block content %}
    <dl>
        <div id="description">
            <dl>
                <dt>Description</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                    Etiam ac condimentum enim. Fusce dictum vestibulum odio, <br>
                    ac ultricies tortor tempus eget. Vestibulum vel tellus ante. <br>
                </dd>
            </dl>
        </div>
        <div id="contact-us">
            <dl>
                <dt>Contact us</dt>
                <dd>
                    <dl>
                        <div class="contact-method">
                            <dt>By phone</dt>
                            <dd>1-800-CLICKER</dd>
                        </div>
                        <div class="contact-method">
                            <dt>By e-mail</dt>
                            <dd>clicker@randommail.com</dd>
                        </div>
                    </dl>
                </dd>
            </dl>
        </div>

    </ul>
{% endblock %}